sudo: required
dist: trusty
language: cpp
compiler:
    - gcc
    - clang

script:
    - mkdir build
    - cd build
    - cmake ..
    - make
    - ctest -V
    - make lint

before_install:
    - sudo add-apt-repository -y ppa:zoogie/sdl2-snapshots
    - sudo add-apt-repository -y ppa:george-edison55/cmake-3.x
    - sudo add-apt-repository -y ppa:h-rayflood/llvm

      #g++4.9
    - if [ "$CXX" = "g++" ]; then sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test; fi

      #clang 3.6
    - if [ "$CXX" == "clang++" ]; then sudo add-apt-repository -y ppa:h-rayflood/llvm; fi

    - sudo apt-get update -qq

install:
    - sudo apt-get install -y libsqlite3-dev
    - sudo apt-get install -y libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev
    - sudo apt-get install -y python2.7
    - sudo apt-get install -y cmake cmake-data

      #g++4.9
    - if [ "$CXX" = "g++" ]; then sudo apt-get install -y g++-4.9; fi
    - if [ "$CXX" = "g++" ]; then export CXX="g++-4.9" CC="gcc-4.9"; fi

      #clang 3.6
    - if [ "$CXX" == "clang++" ]; then sudo apt-get install -y --allow-unauthenticated clang-3.6; fi
    - if [ "$CXX" == "clang++" ]; then export CXX="clang++-3.6"; fi

before_script:
    - sudo dpkg -L libsdl2-dev
    - sudo dpkg -L libsdl2-image-dev
    - sudo dpkg -L libsdl2-ttf-dev
    - sudo dpkg -L libsdl2-mixer-dev
